@keyframes pageTitleIconRotate {
  100% {
    transform: translate3d(0, -50%, 0) rotateZ(-90deg) rotateY(135deg) rotateX(#{-45 + 360}deg);
  }
}

@keyframes blinkChangedValue {
  0% {
    //transform: scale(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  25% {
    //transform: scale(1);
  }
  80% {

  }
  100% {
    opacity: 0;
  }
}

@keyframes blinkChangedValue2 {
  0% {
    opacity: 0;
    transform-origin: center center;
    transform: translate3d(0, 0, 0);
  }
  25% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translate3d(25px, -20px, 0);
  }
}