.section_services
    .container
        +section_header('Услуги')
            | Любые услуги на наш или ваш вкус
        .row
            .col-md-4
                h2 О нас
                p
                    | Мы занимаемся школами уже много лет. Мы их и строим, и учим детишек. Потом детишки вырастают и тоже подключаются к стройке.

            .col-md-4
                h2 Детсад
                p
                    | Мы стараемся начинать школы с детсада, чтобы у детишек не было других вариантов школ после детсада. Мы не дураки и клиентов держим до последнего, пока они способны нам платить.

            .col-md-4
                h2 Еще услуга
                p
                    | Предаврительно мы можем обеспечить вам сурогатное материнство. Мы произведем вам на свет ребенка, сразу запишем его в наш детсад, а затем в школу.
                //-p
                    a.btn.btn-secondary(href='#' role='button') Подробнее &raquo;
        hr



